#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vh;
    width: 80%;
    margin: 0 auto;
}

#img {
    width: 100%;
    border: 1px solid black;
    height: 100%;
    opacity: 1;
}

#img2 {
    width: 100%;
    border: 1px solid black;
    height: 100%;
}